*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar{
    background-color: antiquewhite;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #eee;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
}

.navbar ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 20px;
}
ul li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}